docker/n8n-shared/n8n-workflows/db-get-customers.json
{
  "updatedAt": "2025-12-22T06:26:24.293Z",
  "createdAt": "2025-12-22T06:23:48.721Z",
  "id": "73l3hIOQIjrBp4Wp",
  "name": "db-get-customers",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "71c500c5-9bbf-4b95-944a-f1dd79f7753f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1216,
        272
      ],
      "id": "0b3e734d-93ac-495a-8166-2e22b4e75a98",
      "name": "Webhook",
      "webhookId": "71c500c5-9bbf-4b95-944a-f1dd79f7753f"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "1614840f-9de4-4c79-81f4-3e2b46e96ae3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -544,
        272
      ],
      "id": "c6605d31-fcc0-496e-a3e5-b0a315b0d288",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=http://nocodb_b2b_subscriptions:8080/api/v2/tables/mczt2y5uzyqbl86/records?offset=0&limit=1000&where=(c4bq1fmcynhhd8g,eq,{{ $json.Id}})\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "nocoDbApiToken",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        272
      ],
      "id": "5aac30af-8ab8-459b-9034-8dd3443b45d8",
      "name": "CMS get suborgs for org",
      "credentials": {
        "nocoDbApiToken": {
          "id": "Rii6SOKlExHWpYgv",
          "name": "NocoDB API token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n//  item.json.myNewField = 1;\n}\nlet item = $(\"Loop Over Items\").first().json\nitem.suborgs = $('CMS get suborgs for org').first().json.list\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        336
      ],
      "id": "6749f1f4-9e33-43fd-8861-1fda08782f29",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n // item.json.myNewField = 1;\n}\n\nreturn $input.first().json.list"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        272
      ],
      "id": "f837cc43-0d40-42ae-a258-ed25f8f64cbe",
      "name": "get items"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n//  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        272
      ],
      "id": "2a6e8370-a22b-45b2-b0ea-6b45c54e53b9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=http://nocodb_b2b_subscriptions:8080/api/v2/tables/mczt2y5uzyqbl86/records?offset=0&limit=1000&where=(cyoq636ak0vwke8,eq,org)\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "nocoDbApiToken",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -992,
        272
      ],
      "id": "a8b4d393-8c92-4e98-8f79-3862012c0af3",
      "name": "CMS get  orgs",
      "credentials": {
        "nocoDbApiToken": {
          "id": "Rii6SOKlExHWpYgv",
          "name": "NocoDB API token"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "CMS get  orgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CMS get suborgs for org": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get items": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "CMS get suborgs for org",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CMS get  orgs": {
      "main": [
        [
          {
            "node": "get items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "connection": "keep-alive",
            "sec-ch-ua-platform": "\"macOS\"",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "http://localhost:3000",
            "sec-fetch-site": "same-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "http://localhost:3000/",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "x-chrome-profile": "mav@stripe.com",
            "if-none-match": "W/\"2a8-QWjMSECG/AOZo3IJvKZDhygdJuk\""
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "http://localhost:5678/webhook/71c500c5-9bbf-4b95-944a-f1dd79f7753f",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "7c88faff-cef6-45a7-bb39-04f540ca4106",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-22T06:23:48.724Z",
      "createdAt": "2025-12-22T06:23:48.724Z",
      "role": "workflow:owner",
      "workflowId": "73l3hIOQIjrBp4Wp",
      "projectId": "nItPZc4XiFJ8PFCo"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2025-12-22T06:07:44.324Z",
      "createdAt": "2025-12-22T06:07:44.324Z",
      "id": "gu0ceXWNm5qUUdZf",
      "name": "db"
    }
  ]
}