docker/n8n-shared/n8n-workflows/db-import-schema.json
{
  "updatedAt": "2025-12-22T05:53:33.710Z",
  "createdAt": "2025-12-22T05:45:41.226Z",
  "id": "6I4GdASI8GWNMRXw",
  "name": "db-import-schema",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        272
      ],
      "id": "31d04c7d-7959-43b8-949d-7c0c1d251ae9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nlet baseId = \"pbdnynuaiu9rnzt\"\n\nreturn { \n    baseId: baseId,\n    path: \"/shared/b2b-subscriptions-schema/\"    \n       };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        272
      ],
      "id": "e587b707-ad1d-4dd1-8630-0fc90b6688b7",
      "name": "settings"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('settings').first().json.path }}*",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        48,
        272
      ],
      "id": "7c7c9b68-0813-48c7-bace-603f0a3e671a",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        272,
        272
      ],
      "id": "1a621fd5-23fb-4bca-8f60-e69ad8913f6b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        496,
        192
      ],
      "id": "db89e3a0-2512-44ea-b67d-847795c8f0f3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "content": "### setup the new base id in settings ⬇⬇⬇",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        176
      ],
      "typeVersion": 1,
      "id": "226c12c6-b59c-4356-8ee2-420afb0b2485",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://nocodb_b2b_subscriptions:8080/api/v3/meta/bases/{{ $('settings').first().json.baseId }}/tables",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "nocoDbApiToken",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{  $('Loop Over Items').item.json.data.tableTitle }}"
            },
            {
              "name": "=fields",
              "value": "={{ $('Loop Over Items').item.json.data.fields }}"
            },
            {
              "name": "description",
              "value": "={{$('Loop Over Items').item.json.data.tableDescription }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        304
      ],
      "id": "896dec4c-b4d7-4e5c-8e46-bf0a50d59c46",
      "name": "create-table-in-test-db",
      "credentials": {
        "nocoDbApiToken": {
          "id": "Rii6SOKlExHWpYgv",
          "name": "NocoDB API token"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Before you do anything else: Setup your PoC database for the first time\n\n### 1. nocodb credentials \nYou need to create pre-defined credentials of type **NocoDB API Token**, save it as **NocoDB Token account** to avoid having to modify the workflows. You can create the API token in your nocodb instance.\n\n### 2. db schema files\nThe workflow reads files from docker folder:  /shared/workflow-exports/nocodb-schema/ \nThe latest docker compose file should mount this as a shared folder between your docker container and your laptop/desktop. Place your files in that location!",
        "height": 272,
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        -112
      ],
      "typeVersion": 1,
      "id": "9d085e28-2d54-429c-9b82-cdaae6e5059a",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "settings": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "create-table-in-test-db",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create-table-in-test-db": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "35be88a3-b219-4974-861f-3e306a5853a2",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-22T05:45:41.229Z",
      "createdAt": "2025-12-22T05:45:41.229Z",
      "role": "workflow:owner",
      "workflowId": "6I4GdASI8GWNMRXw",
      "projectId": "nItPZc4XiFJ8PFCo"
    }
  ],
  "activeVersion": null,
  "tags": []
}