docker/n8n-shared/n8n-workflows/Subscription pause or resume.json
{
  "updatedAt": "2025-12-22T07:06:53.666Z",
  "createdAt": "2025-12-22T06:07:47.899Z",
  "id": "q5CnDNwtLFSc8jBr",
  "name": "Subscription pause or resume",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        672,
        0
      ],
      "id": "372fb389-7e08-4835-b2d9-625642faeb23",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "72e08ddf-eadc-4d67-81c8-1dd27a6cf296",
              "leftValue": "={{ $json.body.db_status }}",
              "rightValue": "paused",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        96
      ],
      "id": "aa3869fd-d037-4bf6-acdf-a091b4e7829e",
      "name": "Pause subscription"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.stripe.com/v1/subscriptions/{{ $json.body.stripe_subscription_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "pause_collection",
              "value": "={{\n  {\n    \"behavior\": $json.body.stripe_status\n  }\n}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "555a64e8-63c0-4d71-aaa8-2300b39c7d61",
      "name": "Stripe Pause collection",
      "credentials": {
        "stripeApi": {
          "id": "UfwHUKMGqcDwmoww",
          "name": "Stripe Helms deep"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.stripe.com/v1/subscriptions/{{ $json.body.stripe_subscription_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "pause_collection",
              "value": "={{\n  \n $json.body.stripe_status\n  \n}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        192
      ],
      "id": "326886b2-f15c-41ea-84d9-62c5fda1500d",
      "name": "Stripe resume collection",
      "credentials": {
        "stripeApi": {
          "id": "UfwHUKMGqcDwmoww",
          "name": "Stripe Helms deep"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "subscription-pause-resume",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        96
      ],
      "id": "026f4624-a101-4281-b66d-bafe36e56c15",
      "name": "Webhook",
      "webhookId": "fda42161-ffc1-44a4-8f36-d4b8def8e3f9"
    },
    {
      "parameters": {
        "url": "=http://nocodb_b2b_subscriptions:8080/api/v2/tables/movod4uaaxxw62n/records?offset=0&limit=1000&where=(cj8k689zvedv5vo,eq,{{ $('Webhook').item.json.body.stripe_subscription_id }})\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "nocoDbApiToken",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        96
      ],
      "id": "ff663983-c737-4409-b9bb-42101e7dd519",
      "name": "CMS get client",
      "credentials": {
        "nocoDbApiToken": {
          "id": "Rii6SOKlExHWpYgv",
          "name": "NocoDB API token"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZZHjSU9f5wQeqS2B",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZZHjSU9f5wQeqS2B",
          "cachedResultName": "db-update-org-client-counts"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "customer_id": "={{ $('Webhook').item.json.body.customer_id }}"
          },
          "matchingColumns": [
            "customer_id"
          ],
          "schema": [
            {
              "id": "customer_id",
              "displayName": "customer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        672,
        192
      ],
      "id": "f86ef07d-4f2f-4167-bf55-a3a5c95dc8a2",
      "name": "update system stats"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "pbdnynuaiu9rnzt",
        "table": "movod4uaaxxw62n",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Id",
              "fieldValue": "={{ $json.list[0].Id }}"
            },
            {
              "fieldName": "stripe_subscription_status",
              "fieldValue": "={{ $('Webhook').item.json.body.db_status }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        448,
        96
      ],
      "id": "2a1b0b5a-6dc9-4fdc-ac2c-ad7c47b57452",
      "name": "CMS Update a row",
      "credentials": {
        "nocoDbApiToken": {
          "id": "Rii6SOKlExHWpYgv",
          "name": "NocoDB API token"
        }
      }
    }
  ],
  "connections": {
    "Pause subscription": {
      "main": [
        [
          {
            "node": "Stripe Pause collection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stripe resume collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe Pause collection": {
      "main": [
        [
          {
            "node": "CMS get client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe resume collection": {
      "main": [
        [
          {
            "node": "CMS get client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Pause subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CMS get client": {
      "main": [
        [
          {
            "node": "CMS Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CMS Update a row": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "update system stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "connection": "keep-alive",
            "content-length": "152",
            "sec-ch-ua-platform": "\"macOS\"",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "http://localhost:3000",
            "sec-fetch-site": "same-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "http://localhost:3000/",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "x-chrome-profile": "mav@stripe.com"
          },
          "params": {},
          "query": {},
          "body": {
            "stripe_subscription_id": "sub_1Sa3oEK5pbSpGGKGimnDvAi1",
            "db_status": "paused",
            "stripe_status": "void",
            "customer_id": 38
          },
          "webhookUrl": "http://localhost:5678/webhook/f98c1550-3037-4b00-a5d0-a194fe052831",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "2523936f-1af7-4b9d-b7b5-9c1f9517b7af",
  "activeVersionId": "2523936f-1af7-4b9d-b7b5-9c1f9517b7af",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-22T06:07:47.902Z",
      "createdAt": "2025-12-22T06:07:47.902Z",
      "role": "workflow:owner",
      "workflowId": "q5CnDNwtLFSc8jBr",
      "projectId": "nItPZc4XiFJ8PFCo"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-22T07:06:53.668Z",
    "createdAt": "2025-12-22T07:06:53.668Z",
    "versionId": "2523936f-1af7-4b9d-b7b5-9c1f9517b7af",
    "workflowId": "q5CnDNwtLFSc8jBr",
    "nodes": [
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {
            "responseCode": 200
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          672,
          0
        ],
        "id": "372fb389-7e08-4835-b2d9-625642faeb23",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "72e08ddf-eadc-4d67-81c8-1dd27a6cf296",
                "leftValue": "={{ $json.body.db_status }}",
                "rightValue": "paused",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -224,
          96
        ],
        "id": "aa3869fd-d037-4bf6-acdf-a091b4e7829e",
        "name": "Pause subscription"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.stripe.com/v1/subscriptions/{{ $json.body.stripe_subscription_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "stripeApi",
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "pause_collection",
                "value": "={{\n  {\n    \"behavior\": $json.body.stripe_status\n  }\n}}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          0,
          0
        ],
        "id": "555a64e8-63c0-4d71-aaa8-2300b39c7d61",
        "name": "Stripe Pause collection",
        "credentials": {
          "stripeApi": {
            "id": "UfwHUKMGqcDwmoww",
            "name": "Stripe Helms deep"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.stripe.com/v1/subscriptions/{{ $json.body.stripe_subscription_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "stripeApi",
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "pause_collection",
                "value": "={{\n  \n $json.body.stripe_status\n  \n}}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          0,
          192
        ],
        "id": "326886b2-f15c-41ea-84d9-62c5fda1500d",
        "name": "Stripe resume collection",
        "credentials": {
          "stripeApi": {
            "id": "UfwHUKMGqcDwmoww",
            "name": "Stripe Helms deep"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "subscription-pause-resume",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -448,
          96
        ],
        "id": "026f4624-a101-4281-b66d-bafe36e56c15",
        "name": "Webhook",
        "webhookId": "fda42161-ffc1-44a4-8f36-d4b8def8e3f9"
      },
      {
        "parameters": {
          "url": "=http://nocodb_b2b_subscriptions:8080/api/v2/tables/movod4uaaxxw62n/records?offset=0&limit=1000&where=(cj8k689zvedv5vo,eq,{{ $('Webhook').item.json.body.stripe_subscription_id }})\n",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "nocoDbApiToken",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          224,
          96
        ],
        "id": "ff663983-c737-4409-b9bb-42101e7dd519",
        "name": "CMS get client",
        "credentials": {
          "nocoDbApiToken": {
            "id": "Rii6SOKlExHWpYgv",
            "name": "NocoDB API token"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "ZZHjSU9f5wQeqS2B",
            "mode": "list",
            "cachedResultUrl": "/workflow/ZZHjSU9f5wQeqS2B",
            "cachedResultName": "db-update-org-client-counts"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "customer_id": "={{ $('Webhook').item.json.body.customer_id }}"
            },
            "matchingColumns": [
              "customer_id"
            ],
            "schema": [
              {
                "id": "customer_id",
                "displayName": "customer_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number"
              }
            ],
            "attemptToConvertTypes": true,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          672,
          192
        ],
        "id": "f86ef07d-4f2f-4167-bf55-a3a5c95dc8a2",
        "name": "update system stats"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "update",
          "projectId": "pbdnynuaiu9rnzt",
          "table": "movod4uaaxxw62n",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldName": "Id",
                "fieldValue": "={{ $json.list[0].Id }}"
              },
              {
                "fieldName": "stripe_subscription_status",
                "fieldValue": "={{ $('Webhook').item.json.body.db_status }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          448,
          96
        ],
        "id": "2a1b0b5a-6dc9-4fdc-ac2c-ad7c47b57452",
        "name": "CMS Update a row",
        "credentials": {
          "nocoDbApiToken": {
            "id": "Rii6SOKlExHWpYgv",
            "name": "NocoDB API token"
          }
        }
      }
    ],
    "connections": {
      "Pause subscription": {
        "main": [
          [
            {
              "node": "Stripe Pause collection",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stripe resume collection",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Stripe Pause collection": {
        "main": [
          [
            {
              "node": "CMS get client",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Stripe resume collection": {
        "main": [
          [
            {
              "node": "CMS get client",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Pause subscription",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CMS get client": {
        "main": [
          [
            {
              "node": "CMS Update a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CMS Update a row": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            },
            {
              "node": "update system stats",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "mav peri",
    "name": null,
    "description": null
  },
  "tags": [
    {
      "updatedAt": "2025-12-22T06:07:44.324Z",
      "createdAt": "2025-12-22T06:07:44.324Z",
      "id": "gu0ceXWNm5qUUdZf",
      "name": "db"
    },
    {
      "updatedAt": "2025-12-22T06:07:44.321Z",
      "createdAt": "2025-12-22T06:07:44.321Z",
      "id": "nKciuNTThwcFsRRm",
      "name": "stripe"
    }
  ]
}